@if (loading) {
  <div>Laadimine...</div>
}
@else if (error) {
  <div>Viga andmete laadimisel.</div>
}
@else if (synset) {
  <h2>{{ synset.label }}</h2>
  <div><b>Tüüp:</b> {{ synset.synsetType }}</div>
  <div><b>Staatus:</b> {{ synset.status }}</div>
  @if (synset.comment) {
    <div><b>Kommentaar:</b> {{ synset.comment }}</div>
  }
  @if (definitionsArray.length) {
    <b>Definitsioonid:</b>
    <ul>
      @for (def of definitionsArray; track $index) {
        <li>{{ def }}</li>
      }
    </ul>
  }
  @if (synset.senses.length) {
    <b>Sõnad:</b>
    <ul>
      @for (sense of synset.senses; track sense.id) {
        <li>
          {{ sense.lemma }}
          @if (sense.label) { <span>({{ sense.label }})</span> }
          @if (sense.partOfSpeech) { <span>({{ sense.partOfSpeech }})</span> }
          @if (sense.status) { <span>[{{ sense.status }}]</span> }
          @if (sense.comment) { <span>- {{ sense.comment }}</span> }
        </li>
      }
    </ul>
  }
  @if (synset.relations.length) {
    <b>Seosed:</b>
    <ul>
      @for (rel of synset.relations; track $index) {
        <li>
          {{ rel.type }}:
          <button type="button" class="link-button" (click)="onRelationClick(rel.relatedSynsetId)">
            @if (rel.relatedLabel) {
              {{ rel.relatedLabel }}
            } @else {
              {{ rel.relatedSynsetId }}
            }
            @if (rel.relevantWords && rel.relevantWords.length > 1) {
              <span class="relevant-words">[{{ rel.relevantWords.join(', ') }}]</span>
            }
          </button>
        </li>
      }
    </ul>
  }
  @if (synset.tags.length) {
    <b>Sildid:</b>
    <ul>
      @for (tag of synset.tags; track tag.id) {
        <li>{{ tag.category }}: {{ tag.value }}</li>
      }
    </ul>
  }
  @if (synset.externalReferences && synset.externalReferences.length) {
    <b>Välised viited:</b>
    <ul>
      @for (extRef of synset.externalReferences; track $index) {
        <li>
          <b>{{ extRef.systemName }}</b>
          @if (extRef.relationType) {
            <span> relation(s) {{ extRef.relationType }}</span>
          }
          @if (extRef.words && extRef.words.length) {
            <span> {{ extRef.words.join(', ') }}</span>
          }
          @if (extRef.definition) {
            <span> {{ extRef.definition }}</span>
          }
        </li>
      }
    </ul>
  }
}
