@if (loading) {
  <div>Laadimine...</div>
}
@else if (error) {
  <div>Viga andmete laadimisel.</div>
}
@else if (synset) {
  <h2>
    @if (synset.senses && synset.senses.length > 0) {
      @for (sense of synset.senses; track sense.id; let isLast = $last) {
        <span>{{ sense.lemma }}<sub class="sense-subscript">{{ senseSubscript(sense) }}</sub>@if (!isLast) {<span>, </span>}</span>
      }
    } @else {
      {{ synset.label }}
    }
  </h2>
  @if (definitions.length) {
    <div class="definition-block">
      <b>Definitsioon:</b>
      <ul>
        @for (def of definitions; track $index) {
          <li>{{ def }}</li>
        }
      </ul>
    </div>
  }
  @if (labeledSenseExamples.length) {
    <div class="examples-block">
      <b>Näited:</b>
      <ul>
        @for (item of labeledSenseExamples; track $index) {
          <li><span class="sense-label">{{ item.label }}:</span> {{ item.example }}</li>
        }
      </ul>
    </div>
  }
  @if (synset.senses.length) {
    <b>Lemmad:</b>
    <ul>
      @for (sense of synset.senses; track sense.id) {
        <li>
          {{ sense.lemma }}
          @if (sense.label) { <span>({{ sense.label }})</span> }
          @if (sense.partOfSpeech) { <span>({{ sense.partOfSpeech }})</span> }
          @if (sense.status) { <span>[{{ sense.status }}]</span> }
          @if (sense.comment) { <span>- {{ sense.comment }}</span> }
        </li>
      }
    </ul>
  }

  @if (hyponyms.length) {
    <div class="toggleable-section">
      <button type="button" class="toggle-header" (click)="toggleHyponyms()" [attr.aria-expanded]="hyponymsExpanded">
        <span class="toggle-icon" [style.transform]="hyponymsExpanded ? 'rotate(90deg)' : 'rotate(0deg)'">&#9654;</span>
        Hüponüümid:
      </button>
      @if (hyponymsExpanded) {
        <div class="toggle-content">
          <ul>
            @for (rel of hyponyms; track $index) {
              <li>
                <button type="button" class="link-button" (click)="goToSynset(rel.relatedSynsetId)">
                  @if (rel.relatedLabel) {
                    {{ rel.relatedLabel }}
                  } @else {
                    {{ rel.relatedSynsetId }}
                  }
                  @if (displayRelevantWords(rel)) {
                    <span class="relevant-words">[{{ displayRelevantWords(rel) }}]</span>
                  }
                </button>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  }

  @if (hypernyms.length) {
    <div class="toggleable-section">
      <button type="button" class="toggle-header" (click)="toggleHypernyms()" [attr.aria-expanded]="hypernymsExpanded">
        <span class="toggle-icon">{{ hypernymsExpanded ? '▼' : '▶' }}</span>
        Hüperonüümid:
      </button>
      @if (hypernymsExpanded) {
        <div class="toggle-content">
          <ul>
            @for (rel of hypernyms; track $index) {
              <li>
                <button type="button" class="link-button" (click)="goToSynset(rel.relatedSynsetId)">
                  @if (rel.relatedLabel) {
                    {{ rel.relatedLabel }}
                  } @else {
                    {{ rel.relatedSynsetId }}
                  }
                  @if (displayRelevantWords(rel)) {
                    <span class="relevant-words">[{{ displayRelevantWords(rel) }}]</span>
                  }
                  @if (rel.definition) { <span> - {{ rel.definition }}</span> }
                </button>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  }

  @if (otherRelationSections.length) {
    <div class="toggleable-section">
      <button type="button" class="toggle-header" (click)="toggleSection('seosed')" [attr.aria-expanded]="relationSectionsExpanded['seosed']">
        <span class="toggle-icon">{{ relationSectionsExpanded['seosed'] ? '▼' : '▶' }}</span>
        Muud seosed:
      </button>
      @if (relationSectionsExpanded['seosed']) {
        <div class="toggle-content">
          <div class="seosed-groups">
            @for (group of otherRelationSections; track group.type) {
              <div class="relation-group">
                <b>{{ group.label }}:</b>
                <ul>
                  @for (rel of group.items; track $index) {
                    <li>
                      <button type="button" class="link-button" (click)="goToSynset(rel.relatedSynsetId)">
                        @if (rel.relatedLabel) {
                          {{ rel.relatedLabel }}
                        } @else {
                          {{ rel.relatedSynsetId }}
                        }
                        @if (displayRelevantWords(rel)) {
                          <span class="relevant-words">[{{ displayRelevantWords(rel) }}]</span>
                        }
                        @if (rel.definition) { <span> - {{ rel.definition }}</span> }
                      </button>
                    </li>
                  }
                </ul>
              </div>
            }
            @if (synset.tags.length) {
              <div class="relation-group">
                <b>Sildid:</b>
                <ul>
                  @for (tag of synset.tags; track $index) {
                    <li>{{ tag }}</li>
                  }
                </ul>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
  @if (synset.externalReferences && synset.externalReferences.length) {
    <div class="toggleable-section">
      <button type="button" class="toggle-header" (click)="toggleExternalRefs()" [attr.aria-expanded]="externalReferencesExpanded">
        <span class="toggle-icon">{{ externalReferencesExpanded ? '▼' : '▶' }}</span>
        Välised viited:
      </button>
      @if (externalReferencesExpanded) {
        <div class="toggle-content">
          <ul>
            @for (extRef of synset.externalReferences; track $index) {
              <li>
                <b>{{ extRef.systemName }}</b>
                @if (extRef.relationType) {
                  <span> relation(s) {{ extRef.relationType }}</span>
                }
                @if (extRef.words && extRef.words.length) {
                  <span> {{ extRef.words.join(', ') }}</span>
                }
                @if (extRef.definition) {
                  <span> {{ extRef.definition }}</span>
                }
              </li>
            }
          </ul>
        </div>
      }
    </div>
  }
}
